body{
    margin: 0;
    padding: 0;
    background: url(../img/stock.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.log-fR{
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.87);
    color: white;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.log-fR .avatar{
    width: 90px;
    
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
}
.log-fR h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;

}
.log-fR label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.log-fR input{
    width: 100%;
    margin-bottom: 20px;

} 

.log-fR input[type="text"],
.log-fR input[ type="password"],
.log-fR input[ type="number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.log-fR select{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 100%;
    color: darkgrey;
    font-size: 16px;
}

.log-fR input[ type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: black;
    border-radius: 20px;

}
.log-fR a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;

}
.log-fR a:hover{
    color: #fff;
}

@media(max-width:700px){
    .log-fR{
       position: relative;
       top: 400px;       
    }

}